.friend-list {
  background-color: #fff;
  width: 300px;
  margin: 0px auto;
  margin-bottom: 100px;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 10px 17px -3px rgba(205, 180, 219, 1);
}

/* FRIEND LIST ITEM  */
.item {
  display: flex;
  width: 250px;
  background-color: #ffafcc;
  align-items: center;
  margin: 0px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.status {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #c9184a;
}

.active {
  composes: status;
  background-color: #04a777;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 7px;
  margin-right: 20px;
  background-color: #ffc8dd;
  border-radius: 8px;
  box-shadow: 1px 2px 1px rgb(0 0 0 / 12%), 1px 2px 2px rgb(0 0 0 / 14%),
    0px 1px 3px rgb(0 0 0 / 20%);
}

.name {
  font-size: 20px;
  margin: 0;
}
